*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3)); */
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center; 
    
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav ul{
    float: right;
    margin-right: 20px;
}

a.active,a:hover{
    background: #080A20;
    transition: .5s;
    
}

nav .logo{
    width: 80px;   
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 26px;

}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
}

.checkbtn{
    font-size: 30px;
    color: #080A20;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }    
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #4F4140;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .content{
        display: none;
    }
    .hero{
        background-image: url(Images/myhomeimage.png) ;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
    }
}

.content{
    text-align: center;
    
}
.content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
}
.content h1:hover(){
    -webkit-text-stroke: 2px #fff;
    color: transparent;
} 
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
.backvideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: calc(100vh-80px);
}

@media ( min-aspect-ratio: 16/9){
    .backvideo{
        width: 100%;
        height: auto;
    }
}

@media ( max-aspect-ratio: 16/9){
    .backvideo{
        width: auto;
        height: 100%;
    }
}


