*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}


.hero{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3)); */
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center; 
    
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav ul{
    float: right;
    margin-right: 20px;
}

a.active,a:hover{
    /* background: #080A20; */
    background: #3b424a;
    transition: .5s;
    
}

nav .logo{
    width: 60px;   
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 26px;

}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 8px;
    border-radius: 10px;
}

.checkbtn{
    font-size: 30px;
    color: #080A20;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


.content{
    text-align: center;
    
}
.content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
}
.content h1:hover(){
    -webkit-text-stroke: 2px #DCE1DF;
    color: transparent;
} 
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #DCE1DF;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

@media (max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }    
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #080A20;
    }
    #check:checked ~ ul{
        left: 0;
        margin-top: 20px;
        background: #959fa9d8;
    }
  
    .content h1{
        font-size: 100px;
    }

    .hero{
        background-image: url(Images/myhomeimage.png) ;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
    }
}

.backvideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: calc(100vh-80px);
}

@media ( min-aspect-ratio: 16/9){
    .backvideo{
        width: 100%;
        height: auto;
    }
}

@media ( max-aspect-ratio: 16/9){
    .backvideo{
        width: auto;
        height: 100%;
    }
}

.home_s2{
    position: relative;
    /* background: #856d54e0; */
    background-image: url(Images/IMG_2910.jpg);
    z-index: -2;
    height: auto;
    width: 100%;
    border: 3px solid #3b424a;
    
}

.timeline{
    padding-top: 50px;
    position: relative;
    max-width: 1200px;
    margin: 0px auto;
    padding-bottom: 100px;
}
.container{ 
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
    /* background: #959fa9d8; */
}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1; 
        transform: translateY(0px); 
    } 
    
}

.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}
.container:nth-child(5){
    animation-delay: 4s;
}

.text-box{
    padding: 20px 30px;
    background: #DCE1DF;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    border: 4px solid black;
}

.left_container{
    left: 0;
}
.right_container{
    left: 50%;
}

.container img{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 3;
    border: 5px solid black;
}

.right_container img{
    left: -20px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    background: #080A20;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.text-box h2{
    font-weight: 600;
    font-family: 'PT Serif', serif;
}
.text-box small{
    display: inline-block;
    margin-bottom: 15px;
    font-family: 'PT Serif', serif;
}

.left_container_arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #DCE1DF;
    right: -14px;
}

.right_container_arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #DCE1DF;
    left: -14px;
}

@media screen and (max-width:600px){
    .timeline{
        margin: 45px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-right: 25px;
        padding-left: 70px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right_container{
        left: 0;
    }
    .left_container img, .right_container img{
        left: 10px;
    }
    .left_container_arrow, .right_container_arrow{
        border-right: 15px solid black;
        border-left: 0;
        left: -15px;
    }
    
}

footer{
    position: relative;
    width: 100%;
    background: #3b424ad0;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social-icons,footer .footer-menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social-icons li, footer .footer-menu li{
    list-style: none;
}

footer .social-icons li a{
    /* text-decoration: none; */
    font-size: 3em;
    color: #DCE1DF;
    margin: 0px 20px;
    display: inline-block;
    transition: 0.5s;
    background: none;
}

footer .social-icons li a:hover{
    transform: translateY(-10px);
}

footer .footer-menu a{
    font-size: 1.2em;
    color: #DCE1DF;
    margin: 0px 15px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .footer-menu a:hover{
    opacity: 1.5;
}

footer p{
    display: inline-block;
    color: #DCE1DF;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(Images/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animatewave02 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animatewave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave02 3s linear infinite;
}

@keyframes animatewave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animatewave02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}
